@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/en-us/partner-center/marketplace/marketplace-containers">building Marketplace Container Offer</a>.</p>
    <p>This is a demo to show HOW-TO utilize custom meters to sumbit usage to Azure Marketplace</a>.</p>
</div>
